/* 전역 스타일 정의 파일 */
.App {
}
.header-conatiner {
  max-width: fit-content;
}

/* 1. Intro 관련 */
/* 1.1 Intro - 레이아웃 */
.intro-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
