header {
  margin-bottom: 1%;
}
.log-btn {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  font-size: 15px !important;
  /* font-weight: bold !important; */
}
.nav-link.px-2.text-white {
  border: 1px !important;
  border-color: antiquewhite !important;
  border-radius: 10% !important;
}

.header-container {
  background-color: rgba(0, 0, 0, 0.871) !important;
  font-size: large;
  font-family: "revicons";
}

#drop-button {
  text-decoration-color: white !important;
  background-color: rgb(84, 84, 112) !important;
  width: 50px !important;
  height: 35px;
  border-radius: 25%;
  /* position: relative;
  left: 15%; */
}

.logTrue-box {
  display: flex;
  justify-content: center;
}

.logFalse-box {
  display: flex;
  justify-content: center;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
