* {
  box-sizing: border-box;
}

.Home_section1 {
  display: flex;
  padding: 13rem 0px 7.5rem;
  max-width: 1950px;
  min-width: 1195px;
  margin: auto;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}

.leftSide {
  margin-left: 2rem;
  margin-top: 2rem;
}

.leftSide h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -3px;
}

.Home_section1 .leftSide span {
  font-size: 26px;
  color: rgb(68, 71, 82);
  margin-top: 3rem;
  display: block;
  line-height: 2.2rem;
  letter-spacing: -1px;
}

.Home_section1 .leftSide button {
  margin-top: 5rem;
  background-color: rgb(98, 16, 204);
  width: 181px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
}

.css-1hw9j7s {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #fff;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.Home_section1 .rightSide {
  margin-right: 90px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}
