* {
  box-sizing: border-box;
}

.start-btn {
  background-color: #f08000 !important;
  height: 50px !important;
  font-size: 15px !important;
  font-weight: 15px !important;
  color: white !important;
}

.intro-text {
  font-size: 2.2rem !important;
  line-height: 50px !important;
}

.what-text {
}

.section2_eachItem {
  box-shadow: 5px 5px 5px grey;
}
.intro-img {
  border-radius: 1rem !important;
}
.Home_section1 {
  display: flex;
  flex-wrap: wrap;
  padding: 10rem 0px 7rem;
  margin-top: 15%;
  justify-content: space-around;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  text-align: center;
}

.leftSide {
  margin-top: 6rem;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.leftSide h1 {
  font-size: 2rem !important;
  font-weight: bold !important;
  line-height: 70px;
  letter-spacing: -1px;
}

.Home_section1 .leftSide span {
  font-size: 1.5rem;
  color: rgb(68, 71, 82);
  margin-top: 3rem;
  display: block;
  line-height: 2.2rem;
  letter-spacing: -1px;
}

.Home_section1 .leftSide button {
  margin-top: 3rem;
  font-size: 15px;
  font-weight: bold;
}

.css-1hw9j7s {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #fff;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.Home_section1 .rightSide {
  margin: auto;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}

@media (max-width: 480px) {
  .home-container {
    width: auto !important;
  }
  .Home_section1 {
    float: none;
    width: auto !important;
  }
  .leftSide {
    float: none;
    width: auto !important;
  }
}

.Home_section2 {
  margin: 10%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0px 7rem;
}

.Home_section2 h1 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0px;
  padding: 0px;
  border: 0px;

  vertical-align: baseline;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.Home_section2 p {
  color: rgb(68, 71, 82);
  font-size: 1rem;
  text-align: center;
  line-height: 2.2rem;
  margin-top: 4rem;
  letter-spacing: -0.03em;
  margin: 0px;
  padding: 0px;
  border: 0px;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.Home_section2 button {
  margin-top: 4rem;
  margin-bottom: 3rem;
  background-color: #dc3545;
  font-size: 15px;
  font-weight: bold;
}

.Home_section2 .section2_ImageGroup {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}

.Home_section2 .section2_ImageGroup .section2_eachItem {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 10%;
  padding: 2rem;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  background-color: rgba(240, 240, 240, 0.984);
  border-radius: 5%;
}

.Home_section2 .section2_ImageGroup .section2_eachItem span {
  margin-bottom: 1rem;
  color: #f08000;
  font-size: 20px;
  font-weight: bold;
}

.start-btn {
  background-color: #f08000 !important;
}
