.social-title {
  font-family: fantasy;
  font-size: 33px;
  color: darkslategrey;
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 1px;
}

.form-control:disabled {
  background-color: papayawhip !important;
}
.form-label {
  font-weight: bold !important;
  color: darkslategrey;
  margin-left: 10px;
}

.form-control {
  margin-bottom: 30px;
  height: 60px;
  border-radius: 1.5em !important;
}

.social-submit-btn {
  margin-top: 10px;
}

.sec2-container {
  margin-bottom: 150px;
}
