.getImg-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* 1. dropdownBtn */
.dropdown {
  width: 100px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1; /*다른 요소들보다 앞에 배치*/
}

.dropdown-content a {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
