.resultInfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-container {
  padding: 38px;
  border: 3px solid #d5d5d5;
  border-radius: 10%;
  width: 22em;
}

.result .result-item.name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.result-item.img {
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 10%;
}

.img-box {
  display: flex;
  align-items: center;
  text-align: center !important;
}

.result-item.desc {
  margin-top: 30px;
}

.desc-title {
  font-weight: bold;
}

/*  */
.btn-container {
  margin-top: 80px;

  display: flex;
  flex-direction: row;
}

.btn-item {
  height: 60px !important;
  margin: 10px !important;
}
