.result-container {
  /* border-radius: 1rem 1rem 0rem 0rem; */
  width: 383.5px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

.black-box {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 1rem 1rem 0 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));
}


.black-shadow {
  border-radius: 0rem 0rem 1rem 1rem;
  width: 24rem;
  height: 12.4rem;
  background: linear-gradient(rgba(0, 0, 0, 1), rgb(0, 0, 0, 1));
}


.resultInfo-container {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-size: 800px; */
  /* background-image: linear-gradient(
    rgba(0, 0, 0, 0.02),
    rgb(168, 168, 168, 0.9)
  ); */
}

p.title {
  font-size: 40px;
  margin-bottom: 25%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px #000;
}

.food_Number {
  padding-top: 15px;
  padding-left: 8%;
  text-align: left;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 5px;
  text-underline-offset: 7px;
}

/* .korean_food_name {
  padding-top: 5px;
  padding-left: 10%;
  text-align: left;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
  word-spacing: 3px;
  line-height: 1.7;
} */

.simple_list {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 200;
  margin-bottom: 10%;
}

.result-item.spicy {
  margin-bottom: 2%;
  padding-left: 10%;
  padding-top: 0%;
  font-weight: bold;
  text-align: left;
  font-size: 17px;
  color: rgb(236, 97, 97);
}
.result-item.caution {
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 15px;
  color: orange;
  text-align: left;
  padding-left: 8%;
}

.foodinfo_caution {
  font-size: smaller;
}
.korean_food_name {
  margin-bottom: 5%;
  font-weight: bold;
  text-align: center;
  font-size: larger;
  color:rgba(0, 0, 0, 1);
  text-decoration: solid black;
}

.order_learn_text {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
}

.order_learn_audio {
  display: flex;
  justify-content: center;
  padding: 0 10px 0 10px;
}

.audio_player {
  text-align: center;
  align-items: center;
  align-content: center;
}
.recipe_video {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10%;
}

.video-player {
  margin-top: 10px;
}

.recipe_button {
  margin-left: 10px;
  padding: 5px;
  border-radius: 10%;
  font-size: 10px;
  color: black;
  font-family: sans-serif;
}

.desc {
  margin-top: 30px;
  text-align: center;
}

.desc-content {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 300;
}

.desc-title {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10%;
}

/*  */
.btn-container {
  margin-top: 10%;

  display: flex;
  flex-direction: row;
}

.btn-item {
  height: 40px !important;
  margin: 5px !important;
}

.logo-box {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 6%;
  text-align: center;
  font-family: "Fredoka One", cursive;
  color: black;
}

.history-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1em;
}

.history-inputs label {
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.history-inputs {
  margin : 1em 0 1em 0;
  border-style: 2em;
}

label {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10%;
}