.result-item.spicy {
  font-size: 20px;
  text-align: center;
}

.userInput-title {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.textField-title {
  color: white !important;
}

.textField-comment {
  color: white !important;
}

/*  */
/*  */
/*  */
.container1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 2;
  /* background: linear-gradient(white, white, black 7%, white); */
}

.item-img {
  width: 100% !important;
  height: 300px !important;
}

.container-contents {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-name {
  color: #f4731f;
  font-weight: bold;
  font-size: 15px;
}

.item-nameEng {
  margin-top: 20px;
  color: white !important;
  background-color: #f4731f;
  border-radius: 1.5em;
  padding: 10px 30px 15px;
}

.container-contents h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.description_container {
  margin-top: 15%;
  margin-bottom: 20%;
}

.description_container .desc-title {
  font-size: 25px;
}

.description_container .desc-content {
  font-family: Lucida Console;
  font-size: 16px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

.shape-name {
  height: 45px;
  width: 100px;
  background-color: #f4731f;
  border-radius: 1.5em;
}
.shape-square {
  width: 50px;
  height: 5px;
  background-color: grey;
  border-radius: 1em;
}

.caution_container {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 10%;
}

.caution_container .caution_title {
  font-size: 20px;
  font-weight: bold;
}

.caution_container .foodinfo_caution {
  margin-top: 3%;
  font-size: 18px;
  font-weight: bold;
  font-size: 15px;
  color: orange;
}

.order_learn_audio {
  margin-top: 20%;
}

.order_learn_text {
  margin-top: 2%;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  color: black;
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 10px;
}

.audio_player {
  text-align: center;
  align-items: center;
  align-content: center;
}
.recipe_video {
  margin-top: 20%;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10%;
}

.video-player {
  margin-top: 7%;
}

.recipe_video .recipe_button {
  margin-top: 7%;
  margin-left: 2%;
  border-radius: 10%;
  font-size: 10px;
  color: black;
  font-family: sans-serif;
}
.img-box {
  display: flex;
  align-items: center;
  text-align: center !important;
}

.result-item.desc {
  margin-top: 30px;
  text-align: center;
}

.desc-content {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 300;
}

.desc-title {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10%;
}

.btn-container {
  margin-top: 15%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

.btn-item {
  height: 40px !important;
  margin: 5px !important;
}

.update-btn {
  background-color: #f4731f !important;
  color: white !important;
}

.delete-btn {
  background-color: #f4731f !important;
  color: white !important;
}

.logo-box {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 6%;
  text-align: center;
  font-family: "Fredoka One", cursive;
  color: black;
}

.history-inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 10%;
  width: 80%;
  margin-top: 1em;
}

.history-inputs label {
  font-weight: bold;
  margin-top: 30px;
}

.userInput-container {
  background-color: orange;
  margin-top: 60px;
  color: white;
}

.mediaInfo-container {
  margin-top: 20%;
  margin-bottom: 20%;
}

.caution_container {
  margin-top: 20%;
  margin-bottom: 20%;
}

.media-btn-box {
  background-color: grey;
}
