/*  */
.MuiToggleButtonGroup-root {
  margin-left: 10px !important;
}

.MuiBox-root {
}

.MuiButtonBase-root {
  border-radius: 1em !important;
}

.page-title {
  margin-top: 40px !important;
  margin-bottom: 13% !important;
  text-align: center;
  font-family: "Fredoka One", cursive;
}

.card-slider {
  display: block;
  align-items: center;
}

.react-multi-carousel-list {
  margin: 10px !important;
}

.react-multi-carousel-track {
  padding: 2rem !important;
}

.card-item {
  /* margin-right: 10% !important; */
  border-radius: 10% !important;
  padding: 5% !important;
  width: 240px !important;
  height: 330px !important;
}

.history-container h2 {
  margin-top: 1em;
  margin-bottom: 2em;
}

.history-box {
  margin-top: 3em;
  margin-bottom: 1em;
}

.grid-container {
  /* grid-template-columns: 200px 200px 500px; */
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(3, 1fr) */
  /* grid-template-columns: 200px 1fr */
  /* grid-template-columns: 100px 200px auto */

  /* grid-template-rows: 200px 200px 500px; */
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-template-rows: repeat(3, 1fr) */
  /* grid-template-rows: 200px 1fr */
  /* grid-template-rows: 100px 200px auto */
}

.grid-item {
  object-fit: cover;
}

/*  */
.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
}
.scale:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
