* {
  box-sizing: border-box;
}

.content-container-row {
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  padding-bottom: 0;
}
.top-container {
  padding: 0;
  background-color: white;

  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  text-align: center;
}

.form-container {
  border: 3px solid #d5d5d5;
  display: flex;
  flex-direction: column;
}

.demo-container {
  margin-top: 100px;
}
.demo-box {
  border: 3px solid #d5d5d5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.demo-img {
  width: 100%;
  height: 100%;
}

.func-btn {
}
