* {
  box-sizing: border-box;
}

.fileSelect-btn {
  opacity: 0;
  width: 100% !important;
  height: 100% !important;
}
.upload-btn {
  height: 30px !important;
  margin: 10% !important;
  border-radius: 1rem !important;
  background-color: #f08000 !important;
  color: white;
  font-size: 15px;
  margin-bottom: 10% !important;
  box-shadow: 3px 3px 3px grey;
}

.selected-img {
  border-radius: 1rem;
  width: 100% !important;
  height: 80% !important;
}
.text-notice {
  margin-bottom: 10% !important;
}

.content-container-row {
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  padding-bottom: 0;
}
.top-container {
  padding: 0;
  background-color: white;

  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  text-align: center;
}

.form-container {
  border: 3px solid #d5d5d5;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  box-shadow: 5px 5px 5px grey;
}

.demo-container {
  margin-top: 100px;
}
.demo-box {
  border: 3px solid #d5d5d5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.demo-img {
  width: 100%;
  height: 100%;
}

.func-btn {
}

.title {
  font-family: "Fredoka One", cursive;
  margin-bottom: 5% !important;
}
.title-sub-txt {
  color: grey;
}

.core-notice {
  margin-bottom: 10%;
  text-align: center;
}
.text-notice {
  margin-bottom: 8px;
}
